<template>

    <section class="test-0 about">
        <p class="test-0">Chiriquí Records es un sello de música electrónica látina. El sello presenta sonidos étnicos,
            tribales y orgánicos. Nuestros principales artistas son Novad, Departure, etc…</p>
        <p class="test-0">Chiriquí es una provincia al oeste de Panamá que limita con Costa Rica y el océano Pacífico.
            En el norte de las tierras altas de Chiriquí se encuentra el parque nacional Volcán Barú, llamado así por el
            volcán, que es el pico más alto de Panamá. El sendero Los Quetzales atra</p>
    </section>

</template>

<script>
'use strict';
</script>

<style>
@media screen and (min-width: 0) {

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        /* effect transitions smoothing */
        transition: all 500ms;
        /* stagger animation */
        animation: elementEntrance 700ms ease-out;
        animation-fill-mode: backwards;
    }

}

@media screen and (min-width: 750px) {

    .about {
        width: 400px;
        margin: 0 auto;
    }

}
</style>