<template>

    <section class="test-0 music-grid">
        <div class="test-0 music-grid-card" v-for="(release, index) in providedReleases"
            :style="`--cardStaggerAnimationDelay: ${index * 50}ms`">
            <a class="test-0" href="#id-music-detail" @Click="emitSelectRelease(release)">
                <img class="test-0" :src="returnReleaseCover(release.cover)">
                <div class="test-0 music-grid-card-title">{{ release.title }}</div>
            </a>
        </div>
    </section>

</template>

<script>
'use strict';

import CoverRumboMarimbula from "../assets/covers/rumbo_marimbula.jpg"
import CoverPanamaPacifico from "../assets/covers/panama_pacifico.jpg"
import CoverTzOnot from "../assets/covers/tz_onot.jpg"
import CoverTokoToko from "../assets/covers/toko_toko.jpg"

export default {

    inject: ['providedReleases'],

    data() {
        return {
            coverRumboMarimbula: CoverRumboMarimbula,
            coverPanamaPacifico: CoverPanamaPacifico,
            coverTzOnot: CoverTzOnot,
            coverTokoToko: CoverTokoToko,
        };
    },

    methods: {

        returnReleaseCover(coverName){
            if(coverName === "rumbo_marimbula"){
                return this.coverRumboMarimbula;
            }
            else if(coverName === "panama_pacifico"){
                return this.coverPanamaPacifico;
            }
            else if(coverName === "tz_onot"){
                return this.coverTzOnot;
            }
            else if(coverName === "toko_toko"){
                return this.coverTokoToko;
            }
            else{
                return null;
            }
        },

        emitSelectRelease(release) {
            console.log("it works!");
            this.$emit('selectRelease', release);
        }
    }
    
}
</script>

<style>
@media screen and (min-width: 0) {

    .music-grid {
        /* ALL OF THESE PROPERTIES WERE PROVIDED BY THIS TUTORIAL: 'Fireship - The Joy of CSS Grid - Build 3 Beautifully Simple Responsive Layouts - https://www.youtube.com/watch?v=705XCEruZFs' - 'https://github.com/fireship-io/224-animated-css-grid/blob/master/public/basic-grid.css' */
        display: grid;
        column-gap: 17.5px;
        row-gap: 17.5px;
        grid-template-columns: repeat(2, 1fr);
    }

    .music-grid-card {
        /* ALL OF THESE PROPERTIES WERE PROVIDED BY THIS TUTORIAL: 'Fireship - The Joy of CSS Grid - Build 3 Beautifully Simple Responsive Layouts - https://www.youtube.com/watch?v=705XCEruZFs' - 'https://github.com/fireship-io/224-animated-css-grid/blob/master/public/basic-grid.css' */
        /* Flex setup */
        display: flex;
        flex-direction: column;
        /* Card dimensions */
        height: 100%;
        width: 100%;
        /* effect transitions smoothing */
        transition: all 500ms;
        /* stagger animation */
        animation: elementEntrance 700ms ease-out;
        animation-fill-mode: backwards;
        animation-delay: var(--cardStaggerAnimationDelay);
    }

    .music-grid-card img {
        /* Set the image width according to the size of 'GRID-CARD' */
        max-width: 100%;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .music-grid-card-title {
        color: #c1cddd;
        font-size: x-small;
        text-align: center;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

}

@media screen and (min-width: 750px) {

    .music-grid {
        /* CHECK BOTTOM OF PAGE - THIS FUCKS UP/OVERFLOWS THE LAYOUT*/
        /*gap: 2.75%;*/
        gap: 1fr;
        grid-template-columns: repeat(5, minmax(auto, 1fr));
    }

    .music-grid-card:hover {
        transform: translateY(-3px) scale(1.1);
        cursor: pointer;
    }

    .music-grid-card img:hover {
        /* image shines when user hovers over it */
        filter: brightness(1.3);
        box-shadow: 0px 0px 3px 2px #c1cddd;
    }

}
</style>