<template>

    <section id="id-music-detail" class="test-0 music-detail">
        <!-- music-detail-main -->
        <div class="test-0 music-detail-main">
            <!-- music-detail-main-left -->
            <div class="test-0 music-detail-main-left">
                <!-- music-detail-main-left-cover -->
                <div class="test music-detail-main-left-cover">
                    <img class="test-0" :src="returnReleaseCover(providedSelectedRelease.cover)">
                </div>
                <!-- music-detail-main-left-links -->
                <div class="test-0 music-detail-main-left-links">
                    <div class="test-0 music-detail-main-left-link"
                        v-for="(link, index) in providedSelectedRelease.links">
                        <a target="_blank" :href="link.url">{{ link.name }}</a>
                        <div v-if="index < providedSelectedRelease.links.length - 1">&nbsp;/&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="test-0 music-detail-main-right">
                <!-- music-detail-main-right-title -->
                <div class="test-0 music-detail-main-right-title">{{ providedSelectedRelease.title }}</div>
                <!--div class="test-0" style="font-size: small">{{ selectedRelease.artist }}</div-->
                <!-- music-detail-main-right-bio -->
                <p class="test-0 music-detail-main-right-bio" v-for="(paragraph, index) in providedSelectedRelease.bio">
                    {{
                            paragraph
                    }}</p>
            </div>
        </div>
        <!-- music-detail-footer -->
        <div class="test-0 music-detail-footer">
            <!-- music-detail-footer-embed -->
            <div class="test-0 music-detail-footer-embed" v-html="providedSelectedRelease.embed"></div>
            <!-- music-detail-footer-nav -->
            <div class="test-0 music-detail-footer-nav">
                <!-- music-detail-footer-nav-back -->
                <div class="test-0 music-detail-footer-nav-back">
                    <a href="#id-header" @Click="$emit('navigateToContent', 'music')">Back to Music</a>
                </div>
                <!-- music-detail-footer-nav-prevnext -->
                <div class="test-0 music-detail-footer-nav-prevnext">
                    <a href="#id-music-detail">prev</a> / <a
                        href="#id-music-detail">next</a>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
'use strict';

import CoverRumboMarimbula from "../assets/covers/rumbo_marimbula.jpg"
import CoverPanamaPacifico from "../assets/covers/panama_pacifico.jpg"
import CoverTzOnot from "../assets/covers/tz_onot.jpg"
import CoverTokoToko from "../assets/covers/toko_toko.jpg"

export default {

    inject: ['providedSelectedRelease'],

    data() {
        return {
            coverRumboMarimbula: CoverRumboMarimbula,
            coverPanamaPacifico: CoverPanamaPacifico,
            coverTzOnot: CoverTzOnot,
            coverTokoToko: CoverTokoToko,
        };
    },

    methods: {

        returnReleaseCover(coverName) {
            if (coverName === "rumbo_marimbula") {
                return this.coverRumboMarimbula;
            }
            else if (coverName === "panama_pacifico") {
                return this.coverPanamaPacifico;
            }
            else if (coverName === "tz_onot") {
                return this.coverTzOnot;
            }
            else if (coverName === "toko_toko") {
                return this.coverTokoToko;
            }
            else {
                return null;
            }
        }

    }

}
</script>

<style>
@media screen and (min-width: 0) {

    .music-detail-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        margin-bottom: 25px;
        /* effect transitions smoothing */
        transition: all 500ms;
        /* stagger animation */
        animation: elementEntrance 700ms ease-out;
        animation-fill-mode: backwards;
    }

    .music-detail-main-left {
        margin-bottom: 50px;
    }

    .music-detail-main-left-cover img {
        width: 100%;
        border-radius: 4px;
    }

    .music-detail-main-left-cover {
        margin-bottom: 20px;
    }

    .music-detail-main-left-links {
        display: flex;
        flex-direction: row;
    }

    .music-detail-main-left-link {
        display: flex;
        flex-direction: row;
        font-size: small;
    }

    .music-detail-main-right-title {
        padding: 15px 0;
        text-transform: uppercase;
        font-size: x-large;
        color: #8C9EA8;
    }

    .music-detail-footer {
        margin-bottom: 50px;
    }

    .music-detail-footer-embed {
        margin-bottom: 100px;
    }

    .music-detail-footer-embed-ep {
        width: 100%;
        height: 400px;
        scrolling: no;
        frameborder: no;
        allow: autoplay;
    }

    .music-detail-footer-embed-single {
        width: 100%;
        scrolling: no;
        frameborder: no;
        allow: autoplay;
    }

    .music-detail-footer-embed-bottom {
        line-break: anywhere;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 10px;
        color: #cccccc;
        font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
        font-weight: 100;
    }

    .music-detail-footer-embed-bottom a {
        color: #cccccc;
        text-decoration: none;
    }

    .music-detail-footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 750px) {

    .music-detail-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .music-detail-main-left {
        width: 48%;
    }

    .music-detail-main-left-links a:hover {
        filter: brightness(1.3);
    }

    .music-detail-main-right {
        width: 48%;
    }

    .music-detail-footer a:hover {
        filter: brightness(1.3);
    }

}
</style>