<template>
    <div class="test-0 footer-copyright">
        © 2022 Copyright: chiriquirec.com
    </div>
</template>

<script>
'use strict';
</script>

<style>
@media screen and (min-width: 0) {

    .footer-copyright {
        text-align: center;
        font-size: small;
    }

}

@media screen and (min-width: 750px) {

    .footer-copyright {
        font-size: medium;
    }

}
</style>