<template>
    <div class="test-0 footer-socials">
        <a target="_blank" href="https://soundcloud.com/chiriquirecords">
            <img class="test-0" :src="soundcloudIcon">
        </a>
        <a target="_blank" href="https://www.facebook.com/Chiriqu%C3%AD-Rec-112737704524411">
            <img class="test-0" :src="facebookIcon">
        </a>
    </div>
</template>

<script>
'use strict';
import SoundcloudIcon from "../assets/icons/soundcloud_32.png"
import FacebookIcon from "../assets/icons/facebook_32.png"

export default {
    data() {
        return {
            soundcloudIcon: SoundcloudIcon,
            facebookIcon: FacebookIcon
        }
    }
}
</script>

<style>
@media screen and (min-width: 0) {

    .footer-socials {
        width: 70px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 750px) {

    .footer-socials {
        margin-bottom: 20px;
    }

}
</style>