<template>
    <div class="test-0 header-logo">
        <a href="#id-header" @Click="$emit('navigateToContent', 'music')">
            <img class="test-0" :src="logo">
        </a>
    </div>
</template>

<script>
'use strict';
import Logo from "../assets/logo.png"

export default {
    data() {
        return {
            logo: Logo
        }
    }
}
</script>

<style>
@media screen and (min-width: 0) {

    .header-logo {
        width: 300px;
        margin: 0 auto 20px auto;
    }

    .header-logo img {
        width: 100%;
        opacity: 80%;
    }

}

@media screen and (min-width: 750px) {

    .header-logo {
        width: 450px;
    }

    .header-logo img:hover {
        cursor: pointer;
    }
}
</style>