<template>
    <div class="test-0 header-nav">
        <a href="#id-header" @Click="$emit('navigateToContent', 'music')">Music</a>
        <a href="#id-header" @Click="$emit('navigateToContent', 'about')">About</a>
        <a href="#id-header" @Click="$emit('navigateToContent', 'contact')">Contact</a>
        <a href="#id-header" @Click="$emit('navigateToContent', 'links')">Links</a>
    </div>
</template>

<script>
'use strict';
</script>

<style>
@media screen and (min-width: 0) {

    .header-nav {
        display: none;
    }

}

@media screen and (min-width: 750px) {

    .header-nav {
        width: 300px;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-nav a {
        text-transform: uppercase;
        color: #8C9EA8;
    }

    .header-nav a:hover {
        filter: brightness(1.3);
    }

}
</style>