@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

@media screen and (min-width: 0) {
  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    color: #a8b7bc;
  }

  /* Test class used to visualize borders, paddings, margins and alignments on the page */
  .test-0 {
    /*border: 1px dashed white;*/
  }

  .test-1 {
    background-color: white;
  }

  .global {
    /* Resets all paddings and margins for every element on the page: */
    margin: 0;
    padding: 0;
    display: flex;
    /* Default colors and fonts for every element on the page: */
    background-color: #141517;
    color: #c1cddd;
    font-family: "Raleway", sans-serif;
  }

  .app {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (min-width: 750px) {
  .app {
    width: 1200px;
    padding-left: 85px;
    padding-right: 85px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* element entrance animation */
@keyframes elementEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
