<template>

  <header id="id-header" class="test header">
    <header-logo @navigate-to-content="navigateToContent"></header-logo>
    <header-nav @navigate-to-content="navigateToContent"></header-nav>
  </header>

  <main class="test-0 main">
    <content-music-detail v-if="currentContent === `music` && showReleaseDetails"></content-music-detail>
    <content-music-grid v-if="currentContent === `music`" @select-release="selectRelease"></content-music-grid>
    <content-about v-if="currentContent === `about`"></content-about>
  </main>

  <footer class="test-0 footer">
    <footer-socials></footer-socials>
    <footer-copyright></footer-copyright>
  </footer>

</template>


<script>
'use strict';

import { computed } from 'vue'

const jsonReleases = `[
    {
        "id": 0,
        "title": "Rumbo Marimbula",
        "artist": "Novad",
        "ref": "CR01",
        "date": "2022-04-12",
        "cover": "rumbo_marimbula",
        "bio": [
            "Rumbo Marimbula es el primer EP de nuestro sello Chiriquí Records. Inspirado por los grandes artistas de la folktronica Latina, el ep combina instrumentos como el balafón, la marimba o el charango. Una canción, mas pop, llamada Camino Hacia el Oeste, fué grabada en Panamá con la voz de nuestro artista local, Novad.",
            "La primera canción, Rumbo Marimbula, adopta un estilo chill con ritmos y instrumentos africanos. Varios elementos de la canción, como las transiciones por ejemplo son orgánicos, con sonidos acuáticos por ejemplo. La segunda canción, Vamos Palante, es mas bailable y se inspira de la música del Pacífico Colombiano, con la presencia de una marimba.",
            "La segunda parte de la canción adoptó un estilo libre, con ritmos de madera y melodías de Charango. La tercera canción es totalmente diferente del estilo folktronic del ep y se compone con un acento más pop. La última canción, Bri Bri, es lenta, tribal, étnica, y nos ofrece una vibra downtempo típica de nuestro sello."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-ep\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1423790692&amp;color=%23446678&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true\\\"></iframe><div class=\\\"test-0 detail-footer-embed-bottom\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/sets/cr01-novad-rumbo-marimbula-chiriqui-rec\\\" title=\\\"CR01 - Novad - Rumbo Marimbula (Chiriquí Rec)\\\" target=\\\"_blank\\\">CR01 - Novad - Rumbo Marimbula (Chiriquí Rec)</a></div>"
    },
    {
        "id": 1,
        "title": "Toko Toko",
        "artist": "Novad",
        "ref": null,
        "date": "2022-06-03",
        "cover": "panama_pacifico",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    },
    {
        "id": 2,
        "title": "Tz Onot",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "tz_onot",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1243319620&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/chiriqui-sessions-01-tropical-set-novad\\\" title=\\\"Chiriquí Sessions 01 : Tropical Set - Novad\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc;text - decoration: none;\\\">Chiriquí Sessions 01 : Tropical Set - Novad</a></div>"
    },
    {
        "id": 3,
        "title": "Panama Pacifico",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "panama_pacifico",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    },
    {
        "id": 4,
        "title": "Rumbo Marimbula",
        "artist": "Novad",
        "ref": "CR01",
        "date": "2022-04-12",
        "cover": "rumbo_marimbula",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-ep\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1423790692&amp;color=%23446678&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true\\\"></iframe><div class=\\\"test-0 detail-footer-embed-bottom\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/sets/cr01-novad-rumbo-marimbula-chiriqui-rec\\\" title=\\\"CR01 - Novad - Rumbo Marimbula (Chiriquí Rec)\\\" target=\\\"_blank\\\">CR01 - Novad - Rumbo Marimbula (Chiriquí Rec)</a></div>"
    },
    {
        "id": 5,
        "title": "Toko Toko",
        "artist": "Novad",
        "ref": null,
        "date": "2022-06-03",
        "cover": "panama_pacifico",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    },
    {
        "id": 6,
        "title": "Tz Onot",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "tz_onot",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1243319620&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/chiriqui-sessions-01-tropical-set-novad\\\" title=\\\"Chiriquí Sessions 01 : Tropical Set - Novad\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc;text - decoration: none;\\\">Chiriquí Sessions 01 : Tropical Set - Novad</a></div>"
    },
    {
        "id": 7,
        "title": "Panama Pacifico",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "panama_pacifico",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    },
    {
        "id": 8,
        "title": "Rumbo Marimbula",
        "artist": "Novad",
        "ref": "CR01",
        "date": "2022-04-12",
        "cover": "rumbo_marimbula",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-ep\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1423790692&amp;color=%23446678&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true\\\"></iframe><div class=\\\"test-0 detail-footer-embed-bottom\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/sets/cr01-novad-rumbo-marimbula-chiriqui-rec\\\" title=\\\"CR01 - Novad - Rumbo Marimbula (Chiriquí Rec)\\\" target=\\\"_blank\\\">CR01 - Novad - Rumbo Marimbula (Chiriquí Rec)</a></div>"
    },
    {
        "id": 9,
        "title": "Toko Toko",
        "artist": "Novad",
        "ref": null,
        "date": "2022-06-03",
        "cover": "panama_pacifico",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    },
    {
        "id": 10,
        "title": "Tz Onot",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "tz_onot",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1243319620&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/chiriqui-sessions-01-tropical-set-novad\\\" title=\\\"Chiriquí Sessions 01 : Tropical Set - Novad\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc;text - decoration: none;\\\">Chiriquí Sessions 01 : Tropical Set - Novad</a></div>"
    },
    {
        "id": 11,
        "title": "Panama Pacifico",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "panama_pacifico",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    },
    {
        "id": 12,
        "title": "Rumbo Marimbula",
        "artist": "Novad",
        "ref": "CR01",
        "date": "2022-04-12",
        "cover": "rumbo_marimbula",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-ep\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1423790692&amp;color=%23446678&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true\\\"></iframe><div class=\\\"test-0 detail-footer-embed-bottom\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/sets/cr01-novad-rumbo-marimbula-chiriqui-rec\\\" title=\\\"CR01 - Novad - Rumbo Marimbula (Chiriquí Rec)\\\" target=\\\"_blank\\\">CR01 - Novad - Rumbo Marimbula (Chiriquí Rec)</a></div>"
    },
    {
        "id": 13,
        "title": "Toko Toko",
        "artist": "Novad",
        "ref": null,
        "date": "2022-06-03",
        "cover": "panama_pacifico",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    },
    {
        "id": 14,
        "title": "Tz Onot",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "tz_onot",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1243319620&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/chiriqui-sessions-01-tropical-set-novad\\\" title=\\\"Chiriquí Sessions 01 : Tropical Set - Novad\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc;text - decoration: none;\\\">Chiriquí Sessions 01 : Tropical Set - Novad</a></div>"
    },
    {
        "id": 15,
        "title": "Panama Pacifico",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "panama_pacifico",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    },
    {
        "id": 16,
        "title": "Toko Toko",
        "artist": "Novad",
        "ref": null,
        "date": "2022-06-03",
        "cover": "rumbo_marimbula",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    },
    {
        "id": 17,
        "title": "Tz Onot",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "tz_onot",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Spotify",
                "url": "https://www.spotify.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1243319620&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/chiriqui-sessions-01-tropical-set-novad\\\" title=\\\"Chiriquí Sessions 01 : Tropical Set - Novad\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc;text - decoration: none;\\\">Chiriquí Sessions 01 : Tropical Set - Novad</a></div>"
    },
    {
        "id": 18,
        "title": "Panama Pacifico",
        "artist": "Novad",
        "ref": null,
        "date": "",
        "cover": "panama_pacifico",
        "bio": [
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        ],
        "links": [
            {
                "name": "Bandcamp",
                "url": "https://bandcamp.com"
            },
            {
                "name": "Beatport",
                "url": "https://www.beatport.com"
            },
            {
                "name": "Google Play",
                "url": "https://play.google.com"
            },
            {
                "name": "Youtube",
                "url": "https://www.youtube.com"
            }
        ],
        "embed": "<iframe class=\\\"test-0 music-detail-footer-embed-single\\\" src=\\\"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1280418871&color=%23446678&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true\\\"></iframe><div style=\\\"font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;\\\"><a href=\\\"https://soundcloud.com/chiriquirecords\\\" title=\\\"Chiriquí Records\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Chiriquí Records</a> · <a href=\\\"https://soundcloud.com/chiriquirecords/free-dl-novad-toko-toko\\\" title=\\\"Free DL : Novad - Toko Toko\\\" target=\\\"_blank\\\" style=\\\"color: #cccccc; text-decoration: none;\\\">Free DL : Novad - Toko Toko</a></div>"
    }
]`;

const parsedReleases = JSON.parse(jsonReleases);
const defaultSelectedRelease = parsedReleases[0];
parsedReleases.reverse();

export default {

  data() {
    return {
      currentContent: "music",
      showReleaseDetails: false,
      releases: parsedReleases,
      selectedRelease: defaultSelectedRelease
    };
  },

methods: {

    navigateToContent(contentName) {
      this.currentContent = contentName;
      this.showReleaseDetails = false;
      //console.log(this.currentContent);
    },

    selectRelease(release) {
        this.selectRelease = release;
        this.showReleaseDetails = true;
        //console.log(release.id);
    }

  },

  provide() {
    return {
      providedReleases: this.releases,
      providedSelectedRelease: this.selectedRelease
      //providedSelectedRelease: computed(() => this.selectedRelease)
    }
  }

}
</script>


<style>
@media screen and (min-width: 0) {

  .header {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main {
    margin-bottom: 50px;
  }

  .footer {
    margin-bottom: 60px;
  }

}

@media screen and (min-width: 750px) {

  .header {
    margin: 30px 0 55px 0;
  }

  .main {
    margin-bottom: 100px;
  }

}
</style>
